@use 'variables' as *;
@use "sass:math";

@function rem($px) {
  @return #{$px / 16}rem;
}

@function get-vw($px-vw, $base-vw: 1280px) {
  @return math.div($px-vw * 100vw, $base-vw);
}

@function get-vh($px-vh, $base-vh: 600px) {
  @return math.div($px-vh * 100vh, $base-vh);
}
